In [ ]:

import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("ishanjha100/student-passfail-data")


print(path)

Using Colab cache for faster access to the 'student-passfail-data' dataset.
/kaggle/input/student-passfail-data

In [ ]:
csv_path = os.path.join(path, "Pass-Fail Data.csv")
df = pd.read_csv(csv_path, encoding="latin-1")

In [ ]:
df.shape

(100, 6)

In [ ]:

df.head()

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
0,1,95,92,88,12,1
1,2,88,85,79,10,1
2,3,60,55,58,4,0
3,4,72,70,65,6,1
4,5,40,45,50,3,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   student_id            100 non-null    int64
 1   attendance_pct        100 non-null    int64
 2   homework_pct          100 non-null    int64
 3   midterm_score         100 non-null    int64
 4   study_hours_per_week  100 non-null    int64
 5   pass                  100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB